@media (min-width:80px) and (max-width:768px) {

    .footer-newsletter{
        padding-bottom: 15px;   
    }
    .footer-newsletter input{
        border: none;  
        height: 48px;
        margin: 0;
    }   
    .footer-newsletter input[type=submit]{
        border: none;  
        height: 48px;
        background-color: #d0c0a2;
        color: white;
    }
    .medium-wrapper{
        padding: 10px 0;
    }

    .medium-outer-left{
        padding:0;
        padding-bottom: 10px;
    }

    .medium-outer-right{
        padding:0;  
        padding-top: 10px;
    }
    .medium{
        height: auto;
        background: white;
        border-radius: 2px;
        padding: 0px 10px 0px 20px;
        min-height: 0;
    }

    .width-outer{
        padding: 10px 0;
        height: auto;
    }
    .width{
        margin-top: 10px;
        height: auto;
        background: white;
        border-radius: 2px;
        padding-bottom: 15px;

    }
    
    .bot-right-col{
        height: auto;
        background: white;
        border-radius: 2px;
        
    }
    
    .bot-left-col{
        height: auto;
        background: white;
        border-radius: 2px;
        
    }

    .title{
        color:rgb(170,144,93);
        font-weight:  200;
        font-size: 28px;
        padding: 10px 0 20px 0;
    }

    .sub-text{
        color:#999999;  
        padding-bottom: 20px;
    }

    .sub-text a{
        color:rgb(170,144,93);  
        padding-bottom: 20px;
    }

    .more_link{
        color:rgb(170,144,93);
        text-align: right;
        padding-right: 5px;
        padding-bottom: 15px;
    }
}


@media (min-width:769px) and (max-width:992px) {
    
}

@media (min-width:993px) and (max-width:1199px) {
	.gridlayout .buttons {
		bottom:35%;
	}
}

@media (min-width:1200px) and (max-width:1340px) {
	.gridlayout .buttons {
		bottom:10px;
	}
}

