<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dutch Piccolo</title>
      
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="js/fancybox/jquery.fancybox.css">
    <link rel="stylesheet" href="css/main.css"> 
    <link rel="stylesheet" href="css/responsive.css"> 

      
    <script src="js/jquery-2.1.4.min.js"></script>  
      
    <!--framework-->
    <script src="js/bootstrap.min.js"></script>
    
    <!--lightbox-->
    <script src="js/fancybox/jquery.fancybox.js"></script>
      
    <!--scripts-->
    <script src="js/script.js"></script>    
    <script src="js/basket.js"></script>    
  </head>
 
  <body ng-app="app">
    
    <div class='fade'></div>
      
    <div class="container">
        <div class="background">
           <img src="img/circle.png">
        </div>
    </div> 
      
    <div class="wrapper">
        
        <!--navigation-->
        <div class="container header">
            <div class="col-xs-10 logo"><p>THE DUTCH <strong>PICCOLO</strong> PROJECT</p></div>
            <div class="col-xs-2 social"><img src="img/icons/icon-twitter-white.png"><img src="img/icons/icon-facebook-white.png"></div>
            <div class="col-xs-12 ">
                <ul class="navbar">
                    <li><a href="#home"> HOME </a></li>
                    <li><a href="#about"> ABOUT </a></li>
                    <li><a href="#agenda"> AGENDA </a></li>
                    <li><a href="#composers"> INVOLVED</a></li>
                    <li><a href="#shop"> SHOP </a></li>
                    <li><a href="#basket"> BASKET </a></li>
                    <li><a href="#contact"> CONTACT </a></li>
                </ul> 
            </div>
        </div>
        
        <!--mainview-->
        <div class="container content">
            <div class="content-header">
                <div class="col-xs-12">
                    <p class="title1">THE DUTCH</<br>
                    <p class="title2"><strong>PICCOLO</strong> PROJECT</p>
                    <p class="name">by Ilonka Kolthof</p>
                </div>
            </div>
            <div class="col-md-12">
                <ng-view></ng-view>
            </div>
        </div>

        <div class="push"></div>
    </div>
      
    <footer ng-controller="FooterController">
        <div class="footer-newsletter">
            <div class="container">
                <div class="col-xs-12 col-sm-6 newsletter-footer">
                    <p class="newsletter-footer-head">NEWSLETTER</p>
                    <p class="newsletter-footer-sub">
                        Subscribe to the newsletter of Ilonka Kolthof<br>
                        and be the first to know the latests about her activities
                    </p>
                </div>
                <div class="col-xs-12 col-sm-6 email-footer">
                    <input class="col-xs-8" type="text" value="your email adress" onfocus="if (this.value=='your email adress') this.value='';">
                    <input class="col-xs-4" type="submit" value="subscribe">
                </div>
            </div>
        </div>
        
        <div class="footer-sponsors">
            <div class="container">
                <div class="col-xs-12 sponsoren-footer"><p>SPONSOREN</p></div>
                    <div class="sponsoren"ng-repeat="(key, value) in footer"> 
                        <div class="col-xs-12 col-sm-3 col-md-3  sponsor_img" ng-repeat="(key, result) in value.sponsoren">
                            <img ng-src=" http://cms.new-art.nl/content/img/gallery/{{result}}.jpg">
                        </div>
                    </div>
            </div>
        </div>
        
        <div class="footer-contact">
            <div class="container">
                <div class="col-xs-8 contact-footer">
                    <p class="contact-footer-head">Contact</p>
                    <div ng-repeat="(key, value) in footer"> 
                        <div class="contact-footer-sub" ng-bind-html='value.contact'></div>
                    </div>
                </div>
                <div class="col-xs-2 social-footer">
                    <img src="img/icons/icon-twitter-white.png">
                </div>
                <div class="col-xs-2 social-footer">
                    <img src="img/icons/icon-facebook-white.png">
                </div>

            </div>
        </div>
    </footer>
      
    <!-- angular scripts -->
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
    
    <!-- main app-->
    <script src="angular/app.js"></script>
    <script src="angular/routeProvider.js"></script>
    <script src="angular/sanitize.js"></script>
    
    <!-- controllers-->
    <script src="angular/controllers/MainController.js"></script>
    <script src="angular/controllers/FooterController.js"></script>
      
    <!-- directives -->
    <script src="https://www.youtube.com/iframe_api"></script>
    <script src="angular/directives/youtube_embed.js"></script>
      
  </body>
</html>