<div class="">
    <div class="col-xs-12 home">
        <div class="huge-outer">
            <div class="col-xs-12 head-col huge">
                    
                <p class="basketstage"><span class="basketstageactive">1.Basket</span>  &nbsp;>&nbsp;  2.Checkout  &nbsp;>&nbsp;  3.Payment</p>
                <div class="col-sm-12 basket">
                    <div class="col-xs-12 basketvalue">
                        <div class="col-xs-3 "></div>
                        <div class="col-xs-6 ">Product info</div>
                        <div class="col-xs-2 ">Amount</div>
                        <div class="col-xs-1 "></div>
                    </div>
                        

                    <div ng-repeat="(key,inbasket) in basketitems track by $index">
                        <div  ng-repeat="(key,product) in (filteredproducts = (product | filter:inbasket:serial)) track by $index" ng-init="calculateBasketPrice(product.price ,product.price_shipping); nr =basketnr() ">
                            <div class="col-xs-12 basketitem">
                                <a class='col-xs-3 img' ng-href='#dtail/{{product.serial}}'><div><img ng-src='{{ product.image_01 }}' width="100%" alt='{{product.image_01}}'></div></a>
                                <p class="col-xs-6 ">{{ product.title_lan1 }} <br><br> {{ product.price | currency:'&euro;'}}</p> 
                                <p class="col-xs-2 ">{{amountPerProduct[nr]}} x</p>
                                <p class="col-xs-1 basket_removeitem" ng-click="removeBasketItem(product.serial)"><span class="remove">-</span></p>
                           </div>
                        </div>
                    </div>     

                    <div id="basketisempty" ng-if="basketitems.length == 0">There are no items in your basket</div>

                    <div class="row">
                        <div class="col-xs-12 col-md-12 " >
                            <div class="col-xs-3 total">
                                <p class="totalcounter">Subtotal: {{subtotal | currency:'&euro;'}}<br>
                                Shipping: {{shippingtotal | currency:'&euro;'}}<br></p>
                                <p class="totalborder">Total: {{total | currency:'&euro;'}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="links">
                        <div class="row">
                            <div class="col-xs-3">
                                <button ng-click="emptyBasket()" class="empty" >Empty basket</button>
                            </div>
                            <div class="col-xs-3">
                                <a href="#product"><button class="empty">Continue shopping</button></a>
                            </div>
                            <div class="col-xs-3"></div>
                            <div class="col-xs-3">
                                <a href="#checkout" ng-if="!basketitems.length == 0"><button class="empty">Checkout</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>  
    </div>
</div> 