<div class="">
    <div class="col-xs-12 home">
        <div class="huge-outer">
            <div class="col-xs-12 head-col">

            <div ng-repeat="(key, value) in content"> 
                    <div class='user col-md-4' ng-repeat="(key, result) in value.composer track by $index">
                        
                    	<div class='picture'>
				            <img src='http://cms.new-art.nl/assets/image.php?width=320&amp;image=/content/img/new_artists/{{result.image_01}}.jpg'>
			            </div>

			            <div class='text'>
				            <h4 ng-bind-html='result.title_lan1'></h4>
				            <span class='type' ng-bind-html='result.title_lan2'></span>
							<p ng-bind-html='result.description'></p>
						</div>

                    </div>
                </div>
	            
                <div ng-repeat="(key, content) in content"> 
                </div>
            </div>
        </div>
        <div class="width-outer">
            <div class="col-xs-12 bottom-width-col width">
                <div class="col-xs-12 col-sm-6 medium-outer-left no-pad">
                    <div class="bot-left-col">
                        <a href="#shop"><div class="title">Shop</div></a>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 product" ng-repeat="(key,product) in product track by $index | limitTo:2">
                            <div class="col-xs-12 productinner">
                                <div class="imageframe col-xs-12">
                                    <a class='img' href='#dtail/{{product.serial}}'><div><img ng-src='{{ product.image_01 }}' alt='{{ product.image_01 }}'></div></a>
                                </div>
                                <div class="col-xs-12 titlerow">
                                    <a  href="#dtail/{{product.serial}}">{{ product.check_download }} {{ product.title_lan1 | limitTo: 60}} </a>
                                </div>
                                <div class="col-xs-12 pricerow">
                                    <p class="col-xs-10 price"> {{ product.price | currency:'&euro;' }}</p><button class="basket_additem col-xs-2" data-serial="{{ product.serial}}" ng-click="addBasketItem(product.serial)">+</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <div class="col-xs-12 col-sm-6 medium-outer-right">
                    <div class="bot-right-col">
                        <div ng-repeat="(key, value) in content track by $index"> 
                            <div class="title">Video Crowdfunding</div>
                            <div class="embed-responsive embed-responsive-16by9">
                                <youtube-video video-id="content[0].video_youtube"></youtube-video>
                            </div>
                        </div> 
                    </div>
                </div>
            </div>
        </div>   
    </div>
</div>  