<div class="">
    <div class="col-xs-12 home">
        <div class="huge-outer">
            <div class="col-xs-12 head-col huge">
                    <div class="col-sm-12 container">
                        <div class="col-xs-12 dtail" id="serial" ng-repeat="(key,product) in product | filter:urlserial:serial :true track by $index">
                            <div class="col-xs-12 col-md-4 col-lg-4 details">
                                <a class='fancybox img' href='{{ product.image_01 }}'><div><img width='100%' ng-src='{{ product.image_01 }}' alt='head img'></div></a>

                                <p class="type"> {{ product.check_download }} </p>
                                <br>
                                <p class="col-xs-2 price"> {{ product.price | currency:'&euro;' }}</p><button class="basket_additem col-xs-2" data-serial="{{ product.serial}}" ng-click="addBasketItem(product.serial)">+</button>
                            </div>

                            <div class="col-xs-12s col-md-8 col-lg-8">
                                <br><br>
                                <p class="title"> {{ product.title_lan1 }}</p> 
                                <p class="descriptie">  
                                   <div ng-bind-html="product.description_lan1"></div> 
                                </p>
                            </div>


                            <div class="col-xs-12 col-md-4 col-lg-4 thumbnails" style="clear:both">
                                <div class="col-xs-3 col-md-3">
                                    <a class='fancybox' rel='gallery1' href='{{product.image_02}}'><div><img width='100%' ng-src='{{product.image_02}}'></div></a>
                                </div>

                                <div class="col-xs-3 col-md-3">
                                    <a class='fancybox' rel='gallery1' href='{{product.image_03}}'><div><img width='100%' ng-src='{{product.image_03}}'></div></a>
                                </div> 

                                <div class="col-xs-3 col-md-3">
                                    <a class='fancybox' rel='gallery1' href='{{product.image_04}}'><div><img width='100%' ng-src='{{product.image_04}}'></div></a>
                                </div>

                                <div class="col-xs-3 col-md-3">
                                    <a class='fancybox' rel='gallery1' href='{{product.image_05}'><div><img width='100%' ng-src='{{product.image_05}}'></div></a>
                                </div>

                            </div>
                        </div> 
                    </div> 
            </div>
        </div>  
    </div>
</div> 
